@import '../../index.variables.scss';

.swiper-pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  margin-top: 24px;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  box-sizing: content-box;
  background: $grey20;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  width: 9px;
  height: 9px;
  background: $dark;
  pointer-events: none;
}

.swiper-pagination-bullet:only-child {
  display: none;
}
