@import '../../index.variables.scss';

.form {
  background: $white;
  border-radius: 16px;
  padding: 48px 56px;

  display: flex;
  flex-direction: column;

  .fields {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 32px 0 20px;
  }

  .button {
    padding: 17px 0;
    margin: 32px 0 16px;
    cursor: pointer;
  }
  .forgot-password {
    padding-left: 13px;
    display: flex;
    flex-direction: column;
  }

  .registration {
    display: flex;
    gap: 16px;
    color: $black70;
  }
  .error {
    position: absolute;
    bottom: -18px;
    left: 12px;
    color: $grey40;
  }

  .color_error {
    color: $negative;
  }
}
