@import '../../index.variables.scss';

.form {
  background: $white;
  border-radius: 16px;
  padding: 48px 56px;

  display: flex;
  gap: 10px;
  flex-direction: column;

  .input {
    background: $black5;
    border-radius: 4px;
    padding: 19px 12px;
    border: 0;
    border-bottom: 1px solid $grey20;
    outline: none;

    height: 56px;
    width: 416px;
  }

  .input_error {
    border-bottom: 1px solid $negative;
  }

  .error {
    color: $negative;
  }

  .registration {
    display: flex;
    gap: 10px;
    color: $black70;
  }
}
