@import '../../../../index.variables.scss';
@import '../../../../index.scss';

.show-password {
  position: absolute;
  top: 16px;
  right: 16px;
}

.checkmark {
  position: absolute;

  top: 16px;
  right: 46px;
}
