@import '../../index.variables.scss';

.profile-page {
  padding: 29px 0 62px;

  display: flex;
  flex-direction: column;
  gap: 89px;

  .subtitle {
    margin: 10px 0 30px;
  }

  .card {
    position: relative;
  }

  .empty {
    height: 218px;
    border-radius: 10px;
    padding: 16px;
    color: $white;
    opacity: 0.7;
    backdrop-filter: blur(10px);

    h3 {
      white-space: pre-wrap;
    }
  }

  .empty_blue {
    background: $blue;
  }

  .empty_red {
    width: 100%;
    background-color: $red;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 1100px) {
  .profile-page {
    gap: 64px;

    .empty {
      height: 204px;
    }
  }
}

@media (max-width: 680px) {
  .profile-page {
    padding: 29px 0 32px;

    gap: 44px;

    .subtitle {
      margin: 8px 0 12px;
    }

    .empty {
      padding: 17px 10px;
      height: 182px;
    }
  }
}
