@import '../../index.variables.scss';

.modal__wrapper {
  .stars {
    gap: 14px;
    margin-bottom: 34px;

    img {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }

  .input {
    border-bottom: 0;
    height: 132px;
    resize: none;
    margin-bottom: 52px;
  }
}

@media (max-width: 680px) {
  .modal__wrapper {
    .input {
      margin-bottom: 44px;
    }
  }
}
