@import '../../../../index.variables.scss';

.forgot-password {
  .authorization {
    padding: 0;
  }

  .forgot-password_top .text-button {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 20px 23px;
    background-color: $black5;
    width: 100%;
    border-radius: 16px 16px 0;

    svg {
      transform: rotate(0.5turn);
    }
  }

  .forgot-password__wrapper {
    padding: 32px 56px 48px 56px;
    display: flex;
    flex-direction: column;

    .fields {
      padding: 32px 0 0;
    }
  }

  .form_error {
    padding-top: 20px;
  }
}

@media (max-width: 680px) {
  .forgot-password {
    .forgot-password__wrapper {
      padding: 32px 16px;
    }
  }
}
