@import '../../../../index.variables.scss';
@import '../../../../index.scss';

.burger-navigation {
  display: none;
}

@media (max-width: 1100px) {
  .burger-navigation {
    display: block;
    position: absolute;
    top: 100%;
    left: -200%;
    transition: 0.3s;
    z-index: 2;

    max-width: 500px;
    width: 100%;

    background: $black5;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
      0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 10px;

    .links {
      padding: 32px 32px 52px;
    }
  }

  .navigation_active {
    left: 0;
  }
}

@media (max-width: 680px) {
  .burger-navigation {
    .links {
      padding: 32px 17px 52px;
    }
  }
}
