@import '../../index.variables.scss';

.authorization-layout {
  background: $hover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  height: 100vh;
  width: 100vw;

  .title {
    top: 180px;
    position: absolute;
    color: $white;
  }
}
