@import '../../../../index.variables.scss';
@import '../../../../index.scss';

.input-container {
  position: relative;

  display: flex;
  flex-direction: column;

  .input-label {
    position: absolute;
    transform: translate(14px, 19px);
    pointer-events: none;
  }

  .input {
    background: $black5;
    border-radius: 4px 4px 0 0;
    padding: 26px 12px 12px;
    border: 0;
    border-bottom: 2px solid $grey20;
    outline: none;

    height: 56px;
    width: 416px;
  }
  .error {
    position: absolute;
    top: 100%;
    left: 12px;
    color: $grey40;
  }

  .color_error {
    color: $negative;
  }

  .input_error {
    border-bottom: 1px solid $negative;
  }

  .input:focus-within ~ .input-label,
  .input:not(:placeholder-shown) ~ .input-label {
    transform: translate(12px, 6px);

    @extend .info_large;

    color: $grey40;
  }
}

@media (max-width: 680px) {
  .input-container {
    .input {
      width: 256px;
    }
  }
}
