$white: #ffffff;
$dark: #363636;
$dark30: rgba(54, 54, 54, 0.3);
$grey20: #bfc4c9;
$grey40: #a7a7a7;
$black5: #f9f9fa;
$black10: #ebebeb;
$orange10: #ff740f;
$select: #ff5253;

$hover: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
$pressed: linear-gradient(233.73deg, #f83600 -16.08%, #f9d423 327.37%);
